
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /OpenClassrooms/P1-Wordpress/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /OpenClassrooms/P1-Wordpress/wordpress/index.php [L]
</IfModule>

# END WordPress